.jumbotron {
background-color: orangered;
color: white;
padding: 25px 25px;
}

.jumbo-inline-block {
  display: inline-block;
}  

tr:hover {
background-color: lightgrey;
}

.flag {
  font-weight: bold;
  border: 1px solid black;
  color: white;
  background-color: orangered;
  display: inline-block;
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

.value {
  padding: 50px 0px 50px 50px;
  font-size: 600%;
  font-weight: bold;
  }

.valueCard {
  padding: 10px 20px 10px 20px;
  /** border: 1px dotted black; **/
  display: inline-block
}
