<div class="pull-right">
    <form class="form-inline" role="form">
        <label for="filter">Filter</label>
        <input id="filter" class="form-control" type="text" ng-model="query">
    </form>
</div>
<table class="table">
          <thead>
              <tr>
                  <th>Firma</th>
                  <th>Kod giełdowy</th>
                  <th>Kwota dywidendy</th>
                  <th>Stopa dywidendy</th>
                  <th>Dzień ustalenia</th>
                  <th>Dzień dywidendy</th>
                  <th>Dzień wypłaty</th>
                  <th>Status</th>
              </tr>
          </thead>
          <tbody>
          <tr ng-repeat="x in dividends2017 | filter:query">
              <td><a href="#dywidenda2017/{{ x.company }}-{{ x.ticker}}">{{ x.company }}</a></td>
            <td>{{ x.ticker }}</td>
            <td>{{ x.divPerShare }}</td>  
            <td>{{ x.divYield }}</td>
            <td>{{ x.declaredDate }}</td>
            <td>{{ x.exDate }}</td>
            <td>{{ x.paymentDate }}</td>
            <td>{{ x.status }}</td>  
          </tr>
          </tbody>
        </table>
        
